
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
.App{
  background-color:#171825;
  font-family: 'Poppins', sans-serif;
}
/* !logo */
.logo{
  width: 150px;
}
/* !hero */
.hero{
  background-image: linear-gradient(to right top, #ffffff, #e8e2ff, #d3c6ff, #bea9ff, #a98cff, #8f77ea, #7463d6, #5950c2, #3a3f94, #222e67, #121c3b, #010314);

}
#solak{
  color:#0066dc;
}
.hero p{
  font-size: 24px;
  color: #fff;
}
/* !api */
.api{
  background-color: #010314;
}
/* !animation */
.hero h1{
    font-size: 56px;
    background-clip: text;
    background-color: inherit;
    overflow: hidden;
    font-weight: 800;
    color: #fff;
  animation: bounce;
    animation-duration: 2s;
    animation-iteration-count:	infinite;
}
.rubberBand{
  animation: rubberBand;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.heartBeat{
  animation: heartBeat;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.slideInDown{
  animation: lideInDown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.zoomOut{
  animation:zoomOut;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
/* !Animation end */
.product{
  background-image: linear-gradient(to left top, #535760, #4b4f58, #434751, #3b3f49, #333742, #323a4e, #313d5a, #2e4066, #2d4f8a, #285db0, #1c6cd7, #007bff)
}
.productMid{
  background: #FEFEFE;
  background: linear-gradient(to top, #FEFEFE 5%, #3c93ff 50%, #535760 96%);
}
.link{
  text-decoration: none;
  color: white;
}

.navItem:hover{
color:rgba(136,89,255,.35);
}
@media (max-width:1200px) {
  
}
@media (max-width:992px) {
  .hero h1{
    font-size: 48px;
  }
  .logo{
    width: 100px;
  }
  
}
@media (max-width: 768px) {
  .logo{
    width: 80px;
  }
  .navbar-collapse {
    position: fixed;
    top: 54px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    background:#f1f1f1;
    /* max-width: 320px; */
    height: 300px;
    /* overflow-y: auto; */
  }

  .navbar-collapse.collapsing {
    height: 300px;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    transition: left 0.3s ease;
    left: -100%;
  }

  .navbar-collapse.show {
    left: 0;
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    -moz-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
  }
  .hover:hover{
    border: 2px solid #fff;
    border-radius: 10px;
  }
  .mobileRound{
    border: 2px solid #383a4d;
    padding: 0 0.6rem 0 1rem;
    background:#010314;
    z-index: 100;
    border-radius:2rem;
}
}

@media (max-width:575px) {
  .hero h1{
    font-size: 36px;
  }
  .logo{
    width: 70px;
  }
  
}
@media (max-width:320px) {
 
  .logo{
    width: 50px;
  }
  
}